{% extends "base.html" %}

<!-- This is <head> section of a page -->
    {% block head %}
    <title>Update task "{{ task.content }}"</title>
    {% endblock %}
     
    
    <!-- This is <body> section of a page -->
    {% block body %}
    <div class="content center">
    <h1>Update Task</h1>
    <form action="/update/{{ task.id }}", method="POST" class="add_form">
        <input type="text", name="content", id="content" value="{{ task.content }}"> 
        <input type="submit" value="Update">
    </form>
</div>
    {% endblock %}