{% extends "base.html" %}

<!-- This is <head> section of a page -->
    {% block head %}
    <title>Update task "{{ task.content }}"</title>
    {% endblock %}
     
    
    <!-- This is <body> section of a page -->
    {% block body %}
    <div class="container">
    <h1>Update Task</h1>
    <form action="/update/{{ task.id }}", method="POST">
        <label for="firstname">
            Edit task
            <input type="text" id="content" name="content" value="{{ task.content }}" required>
          </label>
        <input type="submit" value="Update">
    </form>
</div>
    {% endblock %}